* { margin: 0px; padding: 0px; }
body {
    background: #ecf1f5;
    font:14px "Open Sans", sans-serif;
    text-align:center;
}

.tile{
    width: 100%;
    background:#fff;
    border-radius:5px;
    box-shadow:0px 2px 3px -1px rgba(151, 171, 187, 0.7);
    float:left;
    transform-style: preserve-3d;
    margin: 10px 5px;

}

.header{
    border-bottom:1px solid #ebeff2;
    padding:19px 0;
    text-align:center;
    color:#59687f;
    font-size:600;
    font-size:19px;
    position:relative;
}


.quest-img img {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

.dates{
    border:1px solid #ebeff2;
    border-radius:5px;
    padding:20px 0px;
    margin:10px 20px;
    font-size:16px;
    color:#5aadef;
    font-weight:600;
    overflow:auto;
}
.dates div{
    float:left;
    width:50%;
    text-align:center;
    position:relative;
}
.dates strong,
.quest {
    display:block;
    color:#adb8c2;
    font-size:11px;
    font-weight:700;
}
.dates span{
    width:1px;
    height:40px;
    position:absolute;
    right:0;
    top:0;
    background:#ebeff2;
}




div.footer {
    text-align: right;
    position: relative;
    margin: 20px 5px;
}

.btn-task {
    margin-bottom: 1px;
    width: 150px;
}

.task-word {
    font-family: "Roboto Light";
    font-style: italic;
    font-size: 30px;
    margin-top: 5px;
}